button {
    margin: 5px;
}
input {
    margin-left: 5px;
    margin-bottom: 5px;
    margin-right: 5px;
    width: 600px;
    height: 25px;
    border: black 2px solid;
}
label {
    margin: 5px;
    width: 100px;
    height: 25px;
}

fieldset {
    border: solid black 2px;
    width: 750px;
    margin: 5px;
}

.grid-2-items-form {
    display: grid;
    grid-template-columns: 100px 600px;
    width: 750px;
    height: 25px;
    margin: 5px;
}

.btn-group {
    margin-left: 105px;
}
form {
    border: solid black 2px;
    margin: 5px;
    width: 800px;
}
