.App {
  text-align: center;
}

.grid-2-items{
  display: grid;
  grid-template-columns: 200px 200px;
}
.grid-4-items{
  display: grid;
  grid-template-columns: 200px 200px 200px 200px;
}

.pressed {
  color: #8c2bfb;
  font-style: italic;
}

nav {
  margin: 5px;
}

